article{
    text-align: center;
    margin: auto;
    height: 100%;
    width: auto;
}

div#demo.carousel.slide.pointer-event{
    max-height: 700px;
    min-width: 500px;
    width: auto;
    height: auto;
}

div.carousel-inner{
    min-height: 550px;
}

div.carousel-indicators{
    margin-top: 15px;
}

/*div.carousel-caption{
    margin-top: 30px;
}*/

/*
h3.h3_carrosel{
    padding-top: 40px;
}*/